<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006301134003-9ir28n7f2g93utkf9dsl9lkcuao1copa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006301134003-9ir28n7f2g93utkf9dsl9lkcuao1copa</string>
	<key>API_KEY</key>
	<string>AIzaSyDw6XvoK0mvbBu-q8JdM_URVm5bRoSCBsU</string>
	<key>GCM_SENDER_ID</key>
	<string>1006301134003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muratkaya.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-aaba2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-aaba2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006301134003:ios:7351e1af04a0be630c04c6</string>
</dict>
</plist>